* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

h1,
h2,
h3 {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  padding: 30px 0px;
}

.container {
  max-width: 865px;
  padding: 0 5px;
  margin: 0 auto;
}

.header__container {
  max-width: 1032px;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header__burger {
  width: 30px;
  height: 20px;
  display: none;
  align-items: center;
  margin-right: 18px;
}

.header__burger-el {
  height: 2px;
  width: 100%;
  background-color: #21243d;
  position: relative;
}

.header__burger-el::before,
.header__burger-el::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #21243d;
  position: absolute;
}

.header__burger-el::before {
  top: -9px;
}

.header__burger-el::after {
  bottom: -9px;
}

@media (max-width: 480px) {
  .header {
    padding-top: 20px;
  }
  .nav {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 136%;
}
.about__container {
  display: flex;
}

.about__info {
  padding-right: 13.5%;
}

.about__desc {
  margin: 40px 0px;
}

.about__avatar {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__avatar {
    width: 170px;
    height: 170px;
  }
  .about__info {
    padding: 34px 18px 59px;
    text-align: center;
  }
}

.recent-posts {
  background: #edf7fa;
  padding: 27px 0px 32px;
}

.recent-posts__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.recent-posts__articles {
  display: flex;
}

.recent-posts__article {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 49%;
  margin-right: 2%;
  padding: 24px 21px 28px 23px;
}

.recent-posts__article:last-child {
  margin-right: 0;
}

.recent-posts__separator {
  margin-right: 26px;
  margin-left: 26px;
}

@media (max-width: 480px) {
  .recent-posts__top {
    justify-content: center;
    margin-bottom: 18px;
  }
  .recent-posts__link {
    display: none;
  }
  .recent-posts__articles {
    flex-direction: column;
    padding: 0px 5px 38px;
  }
  .recent-posts__article {
    width: 100%;
    margin-right: 0;
    padding: 12px 20px 22px;
    margin-bottom: 17px;
  }

  .recent-posts__article:last-child {
    margin-bottom: 0;
  }
}

.work {
  display: flex;
  padding: 33px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.work__img-wrap {
  max-width: 246px;
  max-height: 180px;
  border-radius: 6px;
  overflow: hidden;
}

.work__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work__subtitle {
  display: flex;
}

.work__date {
  margin-right: 26px;
  padding: 5px 10px;
  background: #142850;
  border-radius: 16px;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
}

@media (max-width: 480px) {
  .featured__works {
    display: flex;
    overflow: auto;
  }

  .work {
    padding: 0px 0px 20px;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
  }
  .work__img-wrap {
    max-width: 100%;
    max-height: 230px;
    border-radius: 6px;
    overflow: hidden;
  }
}

.social__list {
  display: flex;
}

.social__item {
  height: 30px;
  width: 30px;
  margin-right: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social__link {
  display: block;
  font-size: 0;
  width: 100%;
  height: 100%;
}

.social_fb {
  background-image: url(../img/social/fb.png);
}

.social_insta {
  background-image: url(../img/social/insta.png);
}

.social_twitter {
  background-image: url(../img/social/twitter.png);
}

.social_in {
  background-image: url(../img/social/Linkedin.png);
}

.social__item:last-child {
  margin-right: 0;
}
